@page "/"
@inject IAccountService accountService
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer

<div class="landing-page">
    <div class="login-wrapper">
        <div class="login-content">
            <div class="logo-section">
                <img src="/Images/logoText.png" alt="Forms-B-Gone Logo">
            </div>

            <div class="form-container">
                <!-- Added container for inputs and error message -->
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert" role="alert">
                        @errorMessage
                    </div>
                }

                <EditForm Model="@Login" OnValidSubmit="HandleLogin">
                    <input id="username" type="text" placeholder="Username" @bind="Login.Username" />
                    <input id="password" type="password" placeholder="Password" @bind="Login.Password" />
                    <button type="submit" class="btn btn-primary large-btn">Login</button>
                    <ValidationSummary />
                </EditForm>
            </div>

            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a href="/signup">Sign Up</a>
                </span>
            </div>
        </div>
    </div>
</div>

@code {
    private LoginDTO Login = new();
    private string errorMessage;

    private async Task HandleLogin()
    {
        LoginResponse response = await accountService.LoginAsync(Login);
        if (!response.Flag)
        {
            errorMessage = "Invalid email/password combination"; // Set your error message
            return;
        }

        errorMessage = null; // Reset error message on successful login
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        customAuthStateProvider.UpdateAuthenticationState(response.JWTToken);

        if (Constants.UserRole == "Parent") NavManager.NavigateTo("/parent", forceLoad: true);
        if (Constants.UserRole == "Teacher") NavManager.NavigateTo("/teacher", forceLoad: true);
        if (Constants.UserRole == "Admin") NavManager.NavigateTo("/administrator", forceLoad: true);
    }
}
