@page "/"
@inject NavigationManager Navigation

<div class="landing-page">
    <div class="login-wrapper">
        <div class="login-content">
            <div class="logo-section">
                <img src="/Images/logoText.png" alt="Forms-B-Gone Logo">
            </div>
            <form action="#">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="button" class="button" value="Login">

            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a href="/signup">Signup</a>
                </span>
            </div>
        </div>
    </div>
</div>
