@page "/signup"

<div class="landing-page">
    <div class="login-wrapper">
        <div class="login-content">
            <div class="logo-section">
                <img src="/Images/logoText.png" alt="Forms-B-Gone Logo">
            </div>
            <form action="#">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <input type="button" class="button" value="Sign Up">
            </form>
            <div class="signup">
                <span class="signup">
                    Already have an account?
                    <a href="/">Login</a>
                </span>
            </div>
        </div>
    </div>
</div>
