@page "/teacher"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient client

@if (Authorized)
{

    <div class="header">
        <h1>Welcome, Teacher!</h1>
    </div>
}
else
{
    <p>Error 401: Unauthorized</p>
}


@code {
    private bool Authorized = false;
    protected override async Task OnInitializedAsync()
    {
        var customAuthProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        Authorized = await customAuthProvider.IsAuthenticated("Teacher");
    }
    //everything else goes here for code

}