<body>
    <ul>
        <div class="nav-left">
        <li><img src="/Images/logo.png" alt="Logo" class="logo"></li>
        <li><span class="brand">Forms-B-Gone</span></li>
        </div>
        <div class="nav-right">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="about">
                About
            </NavLink>
        </li>
        </div>
    </ul>
</body>
